.App {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.App h1{
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 60px;
  margin-top: 10px;
  
}

.App-link {
  color: #09d3ac;
}

body {
  background-image: url("bg.jpg");
  width: 100%;
  background-size: cover;
}

.card{
 margin: 8px;
 margin-top: 15px;
}

.content{
  background-color: rgba(0, 0, 0, 0.8);
}